    #nav{
        text-decoration: none;
        margin-right: 1%;
        font-weight: 600;
        color:white;
        font-size: 21px;
    }
    nav{
        background-color: black;
        padding: 15px;
    }
    #main-title{
        text-align: center;
        font-size: 55px;
    }
    #img1{
        height: 300px;
        width: 300px;
    }
    #p1{
        float: right;
        text-align: justify;
        margin-right: 50%;
        margin-bottom: 5%;
    }
    .div1, .div2{
        display: inline-block;
    }
    #img1, #p1{
        display: inline-block+;
    }
    .div1{
        margin-left: 10;
    }
    fieldset{
        width: 50%;
    }